
<body>
  <div class="navbar">
      <a routerLink="/">Home</a>
      <a routerLink="/company">Company</a>
      <a routerLink="/teams">Teams</a>
      <a routerLink="/users">Users</a>
      <a routerLink="/logout">Logout</a>
  </div>

  <h1 class="text-center">Home</h1>

  <h2>Announcements</h2>

  <div class="announcement-container">
      <div class="announcement">
          <h2>Title here</h2>
          <h3>Author here</h3>
          <h4>Date here</h4>
          <p>Bodytext Bodytext Bodytext Bodytext Bodytext Bodytext Bodytext Bodytext Bodytext Bodytext Bodytext Bodytext
          </p>
      </div>
  
      <div class="announcement">
          <h2>Title here</h2>
          <h3>Author here</h3>
          <h4>Date here</h4>
          <p>Bodytext Bodytext Bodytext Bodytext Bodytext Bodytext Bodytext Bodytext Bodytext Bodytext Bodytext Bodytext
          </p>
      </div>

      <div class="announcement">
          <h2>Title here</h2>
          <h3>Author here</h3>
          <h4>Date here</h4>
          <p>Bodytext Bodytext Bodytext Bodytext Bodytext Bodytext Bodytext Bodytext Bodytext Bodytext Bodytext Bodytext
          </p>
      </div>
      
  </div>
  
  
  
</body>
