
<body>
  <div class="navbar">
      <a routerLink="/">Home</a>
      <a routerLink="/company">Company</a>
      <a routerLink="/teams">Teams</a>
      <a routerLink="/users">Users</a>
      <a routerLink="/logout">Logout</a>
  </div>

  <h1 class="text-center">Home</h1>

  <h2>Announcements</h2>
  <button routerLink="/create-announcement">Create Announcement</button>

  <div class="announcement-container" *ngFor="let announcement of announcements">
    <div class="announcement">
    <h2>{{ announcement.title }}</h2>
    <h3>Author: {{ announcement.author }}</h3>
    <h4>Date: {{ announcement.date }}</h4>
    <p>{{ announcement.body }}</p>
    </div>
  </div>
    
  
  
  
</body>
