<body>
  <div class="navbar">
    <a [routerLink]="['/']">Home</a>
    <a [routerLink]="['/select-company']">Company</a>
    <a [routerLink]="['/teams', selectedCompanyId]">Teams</a>
    <a [routerLink]="['/user-registry', selectedCompanyId]">Users</a>
    <a [routerLink]="['/login']" (click)="logout()">Logout</a>
  </div>

  <div class="main-content">
    <h1 class="text-center">Home</h1>

    <h2>Announcements</h2>
    <button routerLink="/create-announcement">Create Announcement</button>

    <div class="announcement-container" *ngFor="let announcement of announcements">
      <div class="announcement">
        <h2>{{ announcement.title }}</h2>
        <h3>Author: {{ announcement.author.profile.firstName }}</h3>
        <h4>Date: {{ announcement.date }}</h4>
        <p>{{ announcement.message }}</p>
      </div>
    </div>
  </div>
</body>