body,
html {
    min-height: 100vh;
    background-color: #0F0F0F;
    color: #9EC8B9;
    font-family: Arial, sans-serif;
}

button {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px 20px;
    background-color: #005B41;
    color: #9EC8B9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #008170;
}

h1 {
    font-size: 30px;
    margin: 40px 0;
}

h2 {
    font-size: 25px;
    margin: 10px 0;
}

p {
    margin: 20px;
}

.text-center {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    background-color: #232D3F;
}

.navbar a {
    padding: 8px 12px;
    margin-left: 10px;
    text-decoration: none;
    color: #9EC8B9;
    font-family: Arial, sans-serif;
    border: 1px solid transparent;
}

.navbar a:hover {
    color: #fff;
}

#avatar {
    margin: 20px;
    border: 10px solid #9EC8B9;
    border-radius: 5px;
}

#bio {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

.announcement-container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative; 
}

.announcement {
    width: 800px;
    padding: 20px;
    margin: 10px;
    background-color: #9979e2;
    border: 3px solid #616161;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.back-button,
.submit-button {
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #005B41;
    color: #9EC8B9;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.back-button:hover,
.submit-button:hover {
    background-color: #008170;
}

.announcement-input {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 15px;
    border: 2px solid #9EC8B9;
    border-radius: 5px;
    background-color: #232D3F;
    color: #9EC8B9;
    font-size: 16px;
    height: 200px;
    width: 500px; 
}

.announcement-input:focus {
    outline: none;
}

.announcement h1,
.announcement h2 {
    font-family: Arial, sans-serif;
    margin: 5px 0;
    font-size: 20px;
}

.title-input {
    height: 10px;
}

