<body>

    <h2>Create a Project</h2>
    <button routerLink="/projects">Back</button>
    <div class="form-container">
    <form action="#" method="post">
      <div class="form-entry">
        <label for="title">Project Name:</label><br>
        <input type="text" id="title" name="title"><br>
      </div>
      <div class="form-entry">
        <label for="message">Description:</label><br>
        <input type="text" id="message" name="message"><br>
      </div>
      <div class="form-entry">
        <input type="submit" value="Submit">
      </div>
    </form>
    </div>
    
</body>