
<body>
    <div class="navbar">
        <a routerLink="/">Home</a>
        <a routerLink="/company">Company</a>
        <a routerLink="/teams">Teams</a>
        <a routerLink="/users">Users</a>
        <a routerLink="/logout">Logout</a>
    </div>

    <h1 class="text-center">Teams</h1>

    <div class="team-container">
        <div class="team">
            <h2>Team #</h2>
            <h3># of projects: #</h3>
            <p>Short description</p>
            <div class="team-member-container">
                <div class="team-member">
                    <div class = "team-member-name"> <b>Bobby</b> </div>
                </div>
            </div>
        </div>
    
        <div class="team">
            <h2>Team #</h2>
            <h3># of projects: #</h3>
            <p>Short description</p>
            <div class="team-member-container">
                <div class="team-member">
                    <div class = "team-member-name"> <b>Sally</b> </div>
                </div>
            </div>
        </div>

        <div class="team">
            <h2>Team #</h2>
            <h3># of projects: #</h3>
            <p>Short description</p>
            <div class="team-member-container">
                <div class="team-member">
                    <div class = "team-member-name"> <b>Jane</b> </div>
                </div>
            </div>
        </div>
        
    </div>
    
    
    
</body>
