<body>
    <div class="navbar">
        <a routerLink="/">Home</a>
        <a routerLink="/select-company">Company</a>
        <a routerLink="/teams">Teams</a>
        <a routerLink="/user-registry">Users</a>
        <a routerLink="/logout">Logout</a>
    </div>

    <h1 class="text-center">Teams</h1>

    <div class="button-container">
        <button routerLink="/create-team">Create a team</button>
    </div>

    <div class="team-container" *ngFor="let team of teams">
        <div class="team" [routerLink]="['/projects', team.id]">
            <h2>{{team.teamname}}</h2>
            <h3># of projects: {{team.numprojects}}</h3>
            <p>{{team.desc}}</p>
            <div class="team-member-container" *ngFor="let member of team.members">
                <div class="team-member">
                    <div class="team-member-name"> <b>{{member}}</b> </div>
                </div>
            </div>
        </div>
    </div>



</body>