
body, html {
    margin: 0;
    min-height: 100vh;
    background-color: #0F0F0F;
    
}

button {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 5px 10px;
    background-color: #1B4242;
    color: #9EC8B9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #9EC8B9;
}

button:hover {
    background-color: #5C8374;
}

h1 {
    font-family: Arial, sans-serif;
    margin: 25px;
}

h2 {
    font-family: Arial, sans-serif;
    margin: 20px;
}

p {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.text-center {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: flex-end; 
    padding: 5px; 
    background-color: #1B4242; 
}

.navbar a {
    padding: 8px 12px; 
    margin-left: 10px; 
    text-decoration: none; 
    color: #9EC8B9; 
    font-family: Arial, sans-serif;
    border: 1px solid transparent; 
}

.navbar a:hover {
    color: #fff;
}

#avatar {
    margin: 20px;
    border: 10px solid #d7d7d7;
    border-radius: 5px;
}

#bio {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

.announcement-container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.announcement {
    width: 800px;
    padding: 20px;
    margin: 10px;
    background-color: #9979e2; 
    border: 3px solid #616161;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.announcement h1 {
    font-family: Arial, sans-serif;
    margin: 0px;
}

.announcement h2 {
    font-family: Arial, sans-serif;
    margin: 0px;
}

.announcement p {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.team {
    width: 220px;
    padding: 20px;
    margin: 10px;
    background-color: #005B41; 
    border: 3px solid #616161;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.team-container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #9EC8B9;
}

.team-member {
    color: black;
    background-color: #9EC8B9; 
    border: 3px solid #666666;
    border-radius: 10px;
    display: inline-block;
}

.team-member-name {
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding: 5px;
}

.team-member-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    display: inline-block;
}

.team:hover {
    transform: translateY(-5px);
}

.team h2 {
    font-family: Arial, sans-serif;
    margin: 5px 0;
    font-size: 20px;
}

.team h3 {
    font-family: Arial, sans-serif;
    color: #5C8374; 
    margin: 5px 0;
    font-size: 16px;
}

.team p {
    font-family: Arial, sans-serif;
    margin: 10px 0;
    font-size: 14px;
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.form-container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-entry {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin:20px;
    max-width: 20vw;
}

.addname-container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addedname {
    background-color: #5C8374; 
    border: 3px solid #666666;
    border-radius: 10px;
    margin:0px;
    display: inline-block;
}

.addedname p{
    margin:0px;
    display: inline-block;
}

.addedname button{
    margin:0px;
}