<body>
  <div class="navbar">
    <a routerLink="/">Home</a>
    <a *ngIf="admin" routerLink="/select-company">Company</a>
    <a routerLink="/teams">Teams</a>
    <a *ngIf="admin" routerLink="/user-registry">Users</a>
    <a routerLink="/login" (click)="logout()">Logout</a>
  </div>

<div class="container">
  <h1>Projects for Your Team</h1>

  <div class="projects-box">
    <div class="project-card" *ngFor="let project of projects">
      <h2>{{ project.name }}</h2>
      <p>Description: {{ project.description }}</p>
      <p>Active: {{ project.active ? 'Yes' : 'No' }}</p>
      <button class="edit-button" [routerLink]="['/edit-project', teamId, project.id]">Edit Project</button>
    </div>
  </div>

  <div class="button-group">
    <button routerLink="/teams" class="back-button">Back</button>
    <button *ngIf="admin" [routerLink]="['/create-project', teamId]" class="create-button">Create Project</button>
  </div>
</div>
</body>